<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.software.d_packageapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeClient"
            android:label="@string/title_activity_home_client"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterClient" />
        <activity android:name=".RequestPackage" />
        <activity
            android:name=".LoginPreview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterProviderService" />
        <activity android:name=".RegisterPaymentMethod" />
        <activity
            android:name=".LoginPreview2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginPreview3"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".LoginPreview4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectRegister"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"></activity>
    </application>

</manifest>