<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.software.d_packageapp">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RegisterProviderService"
            android:label="@string/title_activity_home_client"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterClient" />
        <activity android:name=".RequestPackage" />
        <activity android:name=".LoginPreview" />
        <activity android:name=".HomeClient" />
        <activity android:name=".RegisterPaymentMethod"></activity>
    </application>

</manifest>