<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.software.d_packageapp">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- default activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPreview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginPreview2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginPreview3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginPreview4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectRegister"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".SelectRegister">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectRegister" />
        </activity>
        <activity
            android:name=".RegisterClient"
            android:label="@string/register"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RegisterProviderServiceOne"
            android:label="@string/step_one"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RegisterProviderServiceTwo"
            android:label="@string/step_two"/>

        <activity
            android:name=".RegisterProviderServiceThree"
            android:label="@string/step_three"/>

        <activity
            android:name=".HomeClient"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RequestPackage" />
        <activity android:name=".RegisterPaymentMethod" />
        <activity
            android:name=".ChangePassword"
            android:label="@string/change_password" />
        <activity
            android:name=".RegisterBankDetails"
            android:label="@string/register_bank_details" />
        <activity
            android:name=".Recover_Password"
            android:label="@string/recover_password"
            android:parentActivityName=".Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>
        <activity
            android:name=".EditProfileCliente"
            android:label="@string/edit_profile" />
        <activity
            android:name=".EditProfileProviderService"
            android:label="@string/edit_profile" />
        <activity android:name=".PaymentCardManagement" />
        <activity android:name=".QualifyServiceProvider" />
        <activity
            android:name=".HomePrestadorServicio"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ServiceProviderView"/>
        <activity android:name=".ListRequestPackage" />
        <activity android:name="team.software.adapters.AdapterRequestPackage" />
        <activity
            android:name=".Tracing"/>
    </application>

</manifest>